.ResizeHandleOuter {
  padding: 0.18rem;
  background-color: #7c83871d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResizeHandleInner {
  background-color: #8b9094;
  padding: 0.1rem;
  border-radius: 0.75rem;
  transition: background-color 0.2s linear;
}

.ResizeHandleOuter[data-resize-handle-active] .ResizeHandleInner {
  background-color: #547180;
}

.ResizeHandleOuter[data-panel-group-direction='horizontal'] .ResizeHandleInner {
  height: 2rem;
}

.ResizeHandleOuter[data-panel-group-direction='vertical'] .ResizeHandleInner {
  width: 2rem;
}
